#project {
    background-color: var(--fifth-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    font-size: 1.2rem;
    width: auto;
    color: var(--main-color);    
}


.project__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:100px;
    flex-wrap:nowrap
}


.project__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 0.5rem;
    align-items: center;
    margin-right: 210px;
}

.project__title {
    color: var(--sixth-color);
    font-weight: 500;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.project__data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.project__image img {
    width: 700px;
}

.project__button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project__tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

@media screen and (max-width: 800px) {

    #project{
        padding: 1rem;
    }
    .project__image img {
        width: 410px;
    }
    .project__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project__data {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
    }
    .project__button {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .project__header {
        display: flex;
        flex-direction: row-reverse;
        padding: 0.5rem;
        align-items: center;
        margin-right: auto;
    }
}


@media screen and (min-width: 801px) and (max-width: 1980px) {
    #project{
    padding: 1rem;
}

.project__image img {
    width: 510px;
}
.project__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.project__button {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.project__header {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.5rem;
    align-items: center;
    margin-right: auto;
}
}

@media screen and (max-height: 800px){
    .project__image img {
        display: none;
    }
    .project__container{
        align-items: center;
        gap:20px;
    }
}