* {
    scroll-behavior: smooth;
}

:root {
    --main-color: #262626;
    --second-color: #253153;
    --third-color: #374255;
    --forth-color: #434141;
    --fifth-color: #fdfdfd;
    --sixth-color: #fdfdfd;
}

.app {
    background: #fdfdfd;
    font-family: 'Quicksand', sans-serif;
    width: auto;
}

.content {
    margin: 0 0 0 140px;
}

#home {
    background-color: var(--sixth-color);
   
}
.home__name{
    text-align: end;
   padding: 2rem;
   font-family: 'Sacramento', cursive;
   font-size: 2rem;
   font-weight: 300;
}
.sidebar {
    position: fixed;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    max-width: 140px;
    min-width: 140px;
    background: var(--main-color);
    height: 100vh;
    overflow: auto;
}




@media screen and (max-width: 700px) {
    .content {
        margin: 0;
    }
    .home__name{
        display: none;
    }
    .sidebar {
      max-width: 100%;
      min-width: 100%;
      display: flex;  
      width: 100%;
      height: 100px;
      position: relative;
      padding: 1rem;
    }
    .sidebar nav {float: left;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar nav {
      text-align: center;
      float: none;
      height: auto;
    }
  }

  @media screen and (max-height: 768px){


    * {
        font-size: 1rem;
    }

    .home__name{
        display: none;
    }
    

  }